# git repo
Edge-AI-Platform-Tutorials

# Intermediate files
_*
*.hwh
*.dcf
*.elf

# Downloaded files
*.tar.xz
*.tar.gz
*.zip

# DNNDK
pkg_*/include/dnndk.h
pkg_*/include/dputils.h
pkg_*/include/n2cube.h
pkg_*/lib/echarts.js
pkg_*/lib/libdputils.so*
pkg_*/lib/libdsight.a
pkg_*/lib/libn2cube.so
pkg_*/lib/libhineon.so

# Misc
*.lnk
*.url
